<!DOCTYPE html>
<html>
  <head>
    <title>Den Norske Turistforening</title>
    <meta charset="utf-8" />
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-M86DJTQ');
    </script>
  </head>
  <body>
    <div
      id="app"
      data-environment="{{ environment }}"
      data-gitcommit="{{ gitcommit }}"
      data-app="{{ app }}"
    ></div>
    <script type="text/javascript" src="{{ assetsUri }}/{{ app }}.js"></script>
  </body>
</html>
