body {
  padding-top: 70px;
}

header {
  .menu {
    height: 50px;
  }

  a.item.logo {
    padding: 0.5em !important;

    &.dnt {
      background-color: #d82d20 !important;

      img {
        width: 2.4em !important;
      }
    }

    &.utno {
      img {
        width: 5em !important;
        margin: 0.6em !important;
      }
    }

    img {
      margin: 0 !important;
    }
  }
}

// Fix for divider view
.ui.grid > .column + .divider, .ui.grid > .row > .column + .divider {
  left: 50%;
}
